In [158]:
import pandas as pd
qua = pd.Series(['2 m','3','2','5 6 6','               ',])
pro= pd.Series(['Т5555...&т&$&% ','Й85л','Золо тойёг5р','Punch 450 мл','hjhjПомидортоммм   ','jjhjhСлава хивэг 400 гр','Үзгэн бал арилгадаг',])

In [161]:
qua.str.partition()

   0  1               2
0  2                  m
1  3
2  2
3  5                6 6
4