In [7]:
list1=['python', 'php', 'java']
print(list1[0])
print(list1[1])
print(list1[2])

python
php
java

In [6]:
list2=[2,8,1,3,5,5,4,8,6,10]
k=0
for a in range(0, len(list2)):
    k = k + list2[a]
print(k)

52

In [8]:
list3=[2,5,4,7,8]
def urjwer(list) :
    k=1
    for x in list:
        k=k*x
    return k
print(urjwer(list3))

2240

In [12]:
def urjwer2(list) :
    k=list[2]*list[-1]
    return k

In [21]:
def maxmin(list) :
    maxim=list[0]
    for k in list :
        if k > maxim :
            maxim=k
    minum=list[0]
    for k in list :
        if k < minum :
            minum=k
    return maxim,minum
            
list2=[2,8,1,3,5,5,4,8,6,10] 
print(maxmin(list2))

(10, 1)

In [4]:
mylist = ['abdba', 'abcd', 121, 121, 'abcd']
mylist = list(dict.fromkeys(mylist))
print(mylist)

['abdba', 'abcd', 121]

In [7]:
def check(lis1):
    if len(lis1) == 0:
        return 0
    else:
        return 1
list1 = []
if check(list1):
    print ("The list is not empty")
else:
    print("Empty List")

Empty List

In [11]:
list2=[2,8,1,'abdba', 'abcd',4,8,6,10,8]
list2.pop(3)
list2.pop(5)
list2.pop(7)
print(list2)

[2, 8, 1, 'abcd', 4, 6, 10]

In [1]:
m=(4,8,6,10,8)
k=list(m)
k.append('adb')
m=tuple(k)
print(m)

(4, 8, 6, 10, 8, 'adb')

In [4]:
m=(2,8,1,3,5,5,4,8,6,10)
print(m[1])
print(m[-2])

8
6

In [9]:
m=(2,8,1,3,5,5,4,8,6,10)
for z in m :
    print(z)

2
8
1
3
5
5
4
8
6
10

In [11]:
cars = {'tesla', 'bentley', 'mclaren'} 
colors = {'red', 'white', 'black'} 
Newset=cars.union(colors)
print(Newset)

{'red', 'black', 'bentley', 'white', 'mclaren', 'tesla'}

In [13]:
cars = {'tesla', 'bentley', 'mclaren', 'white'} 
colors = {'red', 'white', 'black'} 
Newset=cars.intersection(colors)
print(Newset)

{'white'}

In [15]:
cars = {'tesla', 'bentley', 'mclaren', 'white',8,9,10} 
print(len(cars))

7

In [17]:
cars = {'tesla', 'bentley', 'mclaren', 'white',8,9,10} 
cars.clear()
print(cars)

set()

In [19]:
cars = {'tesla', 'bentley', 'mclaren', 'white',8,9,10} 
del cars

In [23]:
orders = {
    'cappuccino': 54,
    'latte': 56,
    'espresso': 72,
    'americano': 48,
    'cortado': 41}

sort_orders = sorted(orders.items(), key=lambda x: x[1])

for i in sort_orders:
    print(i[0], i[1])

cortado 41
americano 48
cappuccino 54
latte 56
espresso 72

In [24]:
orders = {
    'cappuccino': 54,
    'latte': 56,
    'espresso': 72,
    'americano': 48,
    'cortado': 41}

sort_orders = sorted(orders.items(), key=lambda x: x[1], reverse=True)

for i in sort_orders:
    print(i[0], i[1])

espresso 72
latte 56
cappuccino 54
americano 48
cortado 41

In [34]:
orders = {
    'cappuccino': 54,
    'latte': 56,
    'espresso': 72,
    'americano': 48,
    'cortado': 41}
if 'latte' in orders:
    print("YES")
else:
    print('NO')

YES

In [42]:
orders = {
    'cappuccino': 54,
    'latte': 56,
    'espresso': 72,
    'americano': 48,
    'cortado': 41}
if 48 in orders.values():
    print("YES")
else:
    print("NO")

YES

In [45]:
orders = {
    'cappuccino': 54,
    'latte': 56,
    'espresso': 72,
    'americano': 48,
    'cortado': 41}
for x,y in orders.items():
    print(x,y)

cappuccino 54
latte 56
espresso 72
americano 48
cortado 41

In [54]:
def Merge(dict1, dict2):
    res = dict1 | dict2
    return res
dict1 = {'x': 10, 'y': 8}
dict2 = {'a': 6, 'b': 4}
dict3 = Merge(dict1, dict2)
print(dict3)

{'x': 10, 'y': 8, 'a': 6, 'b': 4}

In [56]:
orders = {
    'cappuccino': 54,
    'latte': 56,
    'espresso': 72,
    'americano': 48,
    'cortado': 41}
values = orders.values()
total = sum(values)
print(total)

271